{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Créer une élection</h2>
    <form method="POST">
        <input type="text" name="titre" placeholder="Titre" required>
        <input type="date" name="debut" placeholder="Date de début">
        <input type="date" name="fin" placeholder="Date de fin">
        <button class="btn" type="submit">Créer</button>
    </form>
    <a class="btn" href="{{ url_for('admin_dashboard') }}">Retour</a>
</div>
{% endblock %}
